# Large data files
data/raw/*.csv
data/processed/*.csv
!data/processed/feature_information.csv
!data/processed/flight_delays_final_20features.csv

# Python cache
__pycache__/
*.py[cod]
*$py.class

# Jupyter
.ipynb_checkpoints/
*.ipynb_checkpoints

# IDE
.vscode/
.idea/

# OS
.DS_Store
Thumbs.db

# Zip files
*.zip
